/* Los estilos de tu proyecto */

/*_______ NAVBAR _________*/
.navbar-default{
  background-color: white;
  padding: 2em 0;
  margin-bottom: 0;  
}

.navbar-default .navbar-nav>li>a{
  color: black;
}

.navbar-default .navbar-nav>li:hover{
  background-color: #FBBD00;
  border-radius: 1em;
}

.navbar-default .navbar-nav>li>a:hover{
  color: white;
}
  

/*------ login modal ------*/
.iconUser{
  width: 20%;
  display: block;
  margin: auto;
}

.modal-header{
  margin: 0 5em;
}

.modal-content{
  background-color: #2F2F2F;
}

.input-group{
  margin: 1em auto;
  width: 50%;
}

#sesion .btn{
  display: block;
  margin: auto;
  background-color: #FBBD00;
  border-color: #FBBD00;
  width: 50%;
}

#sesion p{
  color: white;
  text-align: center;
  margin-top: 0.5em;
}

#sesion a{
  color: #FBBD00;
}

.close{
  color: #FBBD00;
}

/*_______ HEADER _________*/
header{
  background-image: url(../assets/images/taxi.jpg);
  background-position: 50% 90%;
  background-size: cover;
  padding: 14% 0;
}

.login{
  background-color: #FBBD00;
  color: white;
  padding: 2em;
  margin-bottom: 2em;
}

.login-xs{
  background-color: #FBBD00;
  color: white;
  padding: 0.5em 2em 2em 2em;
  margin-top: 5em;
  margin-bottom: 5em;
}

.login-xs img{
  width: 3em;
}

header h2{
  font-size: 2em;
  font-weight: bold;
}

header h3{
  font-weight: bold;
  vertical-align: middle;
}

header p{
  margin: 1em 0 ;
  text-align: center;
}

hr.style1{
  border-top: 1px solid white;
  width: 100%;
  display: inline-block;
}

/*------ register modal ------*/

#register{
  text-align: center;
}

#register .btn-already{
  background-color: #FBBD00;
  border-color: #FBBD00;
  width: 50%;
  display: block;
  margin: 2em auto 0;
}

.userData{
  width: 70%;
  margin: 1em auto;
}

button#dropdownMenu1.btn.btn-default.dropdown-toggle{
  margin: 0 auto 1em;
  width: 70%;
}

#register .dropdown-menu{
  width: 70%;
  margin-left: 6em; 
}

#register .btnSend{
  background-color: #FBBD00;
  border-color: #FBBD00;
  width: 70%;
}

/*------ become a driver modal ------*/
#driver .modal-content{
  padding: 2em;
}

#driver select{
  width: 90%;
}

#driver a{
  color: #FBBD00;
}

.plate{
  width: 90%;
}

#driver .send{
  background-color: #FBBD00;
  border-color: #FBBD00;
  width: 90%;
}

/*_______ DESCRIPTION _________*/
.descriptionContainer{
  background-color: #FBBD00;
  color: white;
  padding: 2em;
}

.description{
  border-right: 1px solid white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 2em 2em 2em 0;
  margin-left: 0;
}

.descriptionCol{
  margin-left: -2em;    
}

.description p{
  font-size: 1.5em; 
}

.description-xs{
  border: 1px solid white;
  text-align: center;
  margin: 1em;
  padding: 1em;
}

.description-xs img{
  margin: auto;
}

.descriptionContainer h4{
  margin-left: 2em;
  font-size: 1.5em;   
}

/*_______ BECOME A DRIVER _________*/
.driveContainer{
  background-image: url(../assets/images/conduce.jpg);
  background-size: cover;
  background-position: center;
}

.drive{
  background-color: rgba(0, 0, 0, 0.356);
  color: white;
  height: 60%;
  padding: 3em;
}

.drive button{
  background-color: #FBBD00;
  border: 1px solid #FBBD00;
  color: white;
  font-weight: bold;
}

/*_______ FARES AND ROUTES _________*/
.fare{
  background-color: #FBBD00;
  padding: 1em;
  color: white;
}

.fare .form-control{
  background-color: transparent;
  border: 1px solid white;
  border-radius: 0.5em;
  margin: 1em 0;
  width: 20em;  
}

.fare .form-control::placeholder{
  color: white;
}

.fare img{
  margin: 1em 0;
}

.route{
  font-weight: bold;
}

.map{
  padding: 1em;
  border: 1px solid white;
  width: 100%;
  height: 50%;
}

/*_______ FOOTER _________*/
footer{
  background-color: #2F2F2F;
  padding-top: 2em;
  padding-bottom: 2em;
  color: white;
}

footer .fa{
  padding: 0.5em;
}

footer a{
  color: white;
}

footer img{
  margin: 0.5em 0;
}

